body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.landing-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.content-overlay {
  background-color: rgba(99, 0, 0, 0.7);
  padding: 2em;
  border-radius: 10px;
}

.content h1 {
  font-size: 3em;
  color: white;
}

.content p {
  font-size: 1.5em;
  margin-top: 1em;
  color: white;
}

.cta-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  margin-top: 2em;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.cta-button:hover {
  background-color: #0056b3;
}

.main-content {
  padding: 2em;
  background-color: white;
  color: black;
}

.main-content h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}

.how-it-works .steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.step {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1em;
  flex: 1 1 200px;
  text-align: center;
  border-radius: 5px;
}

.step h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.features ul {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.features li {
  background: #f9f9f9;
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  border-radius: 5px;
  font-size: 1.2em;
}

.cta {
  text-align: center;
  margin-top: 2em;
}

.cta h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.subscribe {
  text-align: center;
  margin-top: 2em;
}

.subscribe h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

#subscribe-form {
  display: inline-block;
}

#email {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5em;
}

.socials {
  text-align: center;
  margin-top: 2em;
}

.socials h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.social-links a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0056b3;
}
